/* Footer */
.footer {
    background: linear-gradient(90deg, #1E3A8A, #3B82F6);
    color: #efeaea;
    padding: 40px 20px;
    text-align: center;
    font-size: 1rem;
   
  }
  
  .footer .footer-links {
    margin-bottom: 15px;
  }
  
  .footer .footer-links a {
    color: #151617;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .footer .footer-links a:hover {
    color: #191a1b;
  }
  
  .footer p {
    font-size: 1rem;
    font-weight: 400;
  }
  